.navbar-container {
  background-color: white;
  top: 0;

  position: sticky;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80rem;
  width: 100%;
  height: 8vh;

  background-color: #43d1af;
}

.headerThree1 {
  font-size: 2rem;
  color: #333;
  background: none;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.menu {
  font-size: 2rem;
}

.exit {
  font-size: 2rem;
}

.navbar-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.navbar-right {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.link {
  font-size: 1.8rem;
  color: #333;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.link:hover {
  color: white;
  transition: all 0.2s;
}

.logo {
  height: 4.8rem;
  width: 4.8rem;
}

.sign-in-btn {
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: #333;
  border: none;
  text-decoration: none;
}

.sign-in-btn:hover {
  color: #333;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.whole-thing {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.menu-container {
  display: none;
}

@media (max-width: 1500px) {
  .navbar-container {
    gap: 50rem;
  }
}

@media (max-width: 1206px) {
  .navbar-container {
    gap: 30rem;
  }
}

@media (max-width: 1012px) {
  .navbar-container {
    gap: 10rem;
  }
}

@media (max-width: 807px) {
  .sign-in-btn {
    font-size: 1.2rem;
  }
  .logo {
    height: 2.8rem;
    width: 2.8rem;
  }
  .navbar-container {
    gap: 5rem;
  }

  .link {
    font-size: 1.4rem;
  }

  .navbar-left {
    gap: 1rem;
  }

  .headerThree1 {
    font-size: 1.4rem;
  }

  .sign-in-btn {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .navbar-right {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar-container {
    /* display: flex; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .menu-container {
    display: unset;
  }

  .navbar-right {
    display: none;
  }

  .link {
    font-size: 2.2rem;
  }

  .menu {
    display: block;
  }

  .exit {
    align-self: flex-start;
  }
}
