.welcome-container {
  height: 92vh;
  background: linear-gradient(-45deg, #101010, #202020, #383838, #606060);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a.welcome-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #333;
  font-size: 2.8rem;
  background-color: #43d1af;
  padding: 1rem;
  text-decoration: none;

  border: 2px solid white;
}

a.welcome-btn:hover {
  border: 2px solid black;
  color: #43d1af;
  background-color: #333;
  cursor: pointer;
  transition: all 0.3s;
}
